<!-- top-journal -->
<section class="top-journal l-section-gap--after-header-at-sm" aria-labelledby="top-journal-title">
  <h2 id="top-journal-title" class="u-visually-hidden">ふじたジャーナル</h2>

  <div class="top-journal__card-list c-card-list c-card-list--slider c-card-list--slider-top __c-card-list--slider-autoplay">
    <!-- バッジ -->
    <span class="c-badge-circle c-badge-circle--journal">
      <svg viewBox="0 0 100 100" focusable="false" aria-hidden="true">
        <defs>
          <path id="c-badge-circle-path-journal" d="M 50,50 m -35,0 a 35,35 0 1,1 70,0 a 35,35 0 1,1 -70,0" />
        </defs>
        <text class="c-badge-circle__text">
          <textPath href="#c-badge-circle-path-journal" startOffset="50%" text-anchor="middle">FUJITA JOURNAL FUJITA JOURNAL</textPath>
        </text>
      </svg>
    </span>
    <!-- // バッジ -->
    
    <div class="c-slider">
      <div class="swiper">
        <ul class="c-card-list__list swiper-wrapper">

          <!-- 1枚目 -->
          <li class="c-card-list__item swiper-slide">
            <article>
              <a href="/fujita/journal/article.html" class="c-journal-card">
                <div class="c-journal-card__image c-hover-image--frame">
                  <img src="{{ 'sample-img01.jpg' | asset_url }}" alt="ふじたの秋冬ユニフォーム！PERS PROJECTS 2024 A/W DEVIN L/S TEE “solid”が入荷しました！" loading="lazy">
                </div>
                <div class="c-journal-card__body">
                  <time datetime="2025-01-23" class="c-journal-card__time c-time">2025-01-23</time>
                  <h3 class="c-journal-card__title">1 ふじたの秋冬ユニフォーム！PERS PROJECTS 2024 A/W DEVIN L/S TEE “solid”が入荷しました！</h3>
                  <ul class="c-journal-card__tag c-tag-list c-tag-list--meta">
                    <li><span>コーヒーのこと</span></li>
                    <li><span>お知らせ</span></li>
                  </ul>
                </div>
              </a>
            </article>
          </li>

          <!-- 2枚目 -->
          <li class="c-card-list__item swiper-slide">
            <article>
              <a href="/fujita/journal/article.html" class="c-journal-card">
                <div class="c-journal-card__image c-hover-image--frame">
                  <img src="{{ 'sample-img01.jpg' | asset_url }}" alt="2 RNCラジオコーナー「一本一会 城南書店街で会いましょう」" loading="lazy">
                </div>
                <div class="c-journal-card__body">
                  <time datetime="2025-01-23" class="c-journal-card__time c-time">2025-01-23</time>
                  <h3 class="c-journal-card__title">2 RNCラジオコーナー「一本一会 城南書店街で会いましょう」</h3>
                  <ul class="c-journal-card__tag c-tag-list c-tag-list--meta">
                    <li><span>コーヒーのこと</span></li>
                    <li><span>お知らせ</span></li>
                  </ul>
                </div>
              </a>
            </article>
          </li>

          <!-- 3枚目 -->
          <li class="c-card-list__item swiper-slide">
            <article>
              <a href="/fujita/journal/article.html" class="c-journal-card">
                <div class="c-journal-card__image c-hover-image--frame">
                  <img src="{{ 'sample-img01.jpg' | asset_url }}" alt="3 11/2:おしろのまちの市in西田ビル 出店" loading="lazy">
                </div>
                <div class="c-journal-card__body">
                  <time datetime="2025-01-23" class="c-journal-card__time c-time">2025-01-23</time>
                  <h3 class="c-journal-card__title">3 11/2:おしろのまちの市in西田ビル 出店</h3>
                  <ul class="c-journal-card__tag c-tag-list c-tag-list--meta">
                    <li><span>お知らせ</span></li>
                  </ul>
                </div>
              </a>
            </article>
          </li>

          <!-- 4枚目 -->
          <li class="c-card-list__item swiper-slide">
            <article>
              <a href="/fujita/journal/article.html" class="c-journal-card">
                <div class="c-journal-card__image c-hover-image--frame">
                  <img src="{{ 'sample-img01.jpg' | asset_url }}" alt="4 ＼ きまぐれパン企画 ／10/26(日)は「あんこバターパンの日」！" loading="lazy"></span>
                </div>
                <div class="c-journal-card__body">
                  <time datetime="2025-01-23" class="c-journal-card__time c-time">2025-01-23</time>
                  <h3 class="c-journal-card__title">4 ＼ きまぐれパン企画 ／10/26(日)は「あんこバターパンの日」！</h3>
                  <ul class="c-journal-card__tag c-tag-list c-tag-list--meta">
                    <li><span>イベント情報</span></li>
                    <li><span>かき氷</span></li>
                  </ul>
                </div>
              </a>
            </article>
          </li>

          <!-- 5枚目 -->
          <li class="c-card-list__item swiper-slide">
            <article>
              <a href="/fujita/journal/article.html" class="c-journal-card">
                <div class="c-journal-card__image c-hover-image--frame">
                  <img src="{{ 'sample-img01.jpg' | asset_url }}" alt="5 うらにわ木工教室／10/11(土)9~12時　グリーンウッドワークでマイスプーンをつくろう開催します！！！" loading="lazy">
                </div>
                <div class="c-journal-card__body">
                  <time datetime="2025-01-23" class="c-journal-card__time c-time">2025-01-23</time>
                  <h3 class="c-journal-card__title">5 うらにわ木工教室／10/11(土)9~12時　グリーンウッドワークでマイスプーンをつくろう開催します！！！</h3>
                  <ul class="c-journal-card__tag c-tag-list c-tag-list--meta">
                    <li><span>メンテナンス・アフターケア</span></li>
                  </ul>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <div class="c-slider__controls l-container">
        <button class="c-slider__button c-slider__button--prev" type="button" aria-label="前の画像" >
          <span class="c-icon c-icon--chevron-right">
            <svg aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
          </span>
        </button>
        <button class="c-slider__button c-slider__button--next" type="button" aria-label="次の画像" >
          <span class="c-icon c-icon--chevron-right">
            <svg aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- // top-journal -->